<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
  <link rel="stylesheet" href="static\css\style.css">
</head>
<body>
    <div class="banner">
        <img src="static/images/BG_Logo.png" alt="Website Logo" class="banner-image">
    </div>
    <div class="banner-buttons">
      <a href="#home" class="banner-btn">Home</a>
      <a href="#about" class="banner-btn">About</a>
      <a href="sign_in.html" class="banner-btn">Sign in</a>
    </div>
    <div style="text-align: center; margin-top: 20px;">
        <iframe 
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d21048.16866079327!2d150.9250260045757!3d-33.91667898009231!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b1295e8c2bc1e89%3A0x587257995c5a76d!2sWarwick%20Farm!5e0!3m2!1sen!2sau!4v1757237497080!5m2!1sen!2sau" 
            width="600" 
            height="450" 
            style="border:0;" 
            allowfullscreen="" 
            loading="lazy" 
            referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </div>
</body>
</html>